<!DOCTYPE html>
<html lang="en-US" ng-app="Pages">
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />

    <link rel="stylesheet" href="http://127.0.0.1/Pages/css/Pages.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-route.min.js"></script>

    <script>
        angular.module('Pages', [])
                .value('URL', '{{ generateUrl(['pages'], false) }}')
                .value('page', '{{ page }}');
    </script>

    <script src="http://127.0.0.1/Pages/js/angular/Pages.js"></script>
    <script src="http://127.0.0.1/Pages/js/angular/PagesController.js"></script>

    <title>Pages</title>
</head>

<body ng-controller="PagesController">

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Homepage</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            {% for page in pages %}
                <li><a ng-click="get('{{ page.slug }}')"><i class="fa fa-star"></i> {{ page.title|capitalize }}</a></li>
            {% endfor %}
        </ul>

        <button ng-click="insert()">New</button>
        <button ng-click="update()">Update</button>
        <button ng-click="delete()">Delete</button>
    </div>
</nav>

<div id="main">
    <div class="jumbotron text-center">
        <h1 ng-bind="page.title"></h1>

        <div ng-bind="page.body"></div>
    </div>
</div>

<footer class="text-center">
    <p>Proudly developed by <a href="https://github.com/radphp/radphp">RadPHP</a> framework.</p>
</footer>

</body>
</html>
